<!-- <div class="welcome-page">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-header">
      <mat-card-title><b>Welcome to myFlix! '(Angular Version)'</b></mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-actions">
      <button mat-raised-button class="register" (click)="openUserRegistrationDialog()" style="margin-right: 10px;"
        color="primary">
        <mat-icon>person_add</mat-icon> Create Account!
      </button>
      <button mat-raised-button class="register" color="primary" (click)="openUserLoginDialog()"
        style="margin-right: 10px;">
        <mat-icon>account_circle</mat-icon>Login!
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->

<div class="welcome-page">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
      <mat-card-title>Welcome to myFlix!</mat-card-title>
      <mat-card-title>The Angular Version</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-card-actions">
      <button mat-raised-button class="login-button" (click)="openUserLoginDialog()">
        <mat-icon>login</mat-icon> Login
      </button>
      <button mat-raised-button class="register-button" (click)="openUserRegistrationDialog()">
        <mat-icon>how_to_reg</mat-icon> Sign up
      </button>
    </mat-card-actions>
  </mat-card>
</div>